In [3]:
import pickle

with open('../data/processed/weatherAU-processed.pkl', 'rb') as f:
    df = pickle.load(f)
    
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,395,2,13.4,22.9,0.6,5.744037,7.314530,13,44.0,13,...,22.0,1007.7,1007.1,8.000000,4.865246,16.9,21.8,0.0,0.0,0
1,396,2,7.4,25.1,0.0,5.657635,11.464943,14,44.0,6,...,25.0,1010.6,1007.8,1.730333,2.619687,17.2,24.3,0.0,0.0,0
2,397,2,12.9,25.7,0.0,7.779909,12.236955,15,46.0,13,...,30.0,1007.6,1008.7,1.828515,2.000000,21.0,23.2,0.0,0.0,0
3,398,2,9.2,28.0,0.0,5.955201,11.765782,4,24.0,9,...,16.0,1017.6,1012.8,1.224728,2.106915,18.1,26.5,0.0,1.0,0
4,399,2,17.5,32.3,1.0,6.825401,5.769752,13,41.0,1,...,33.0,1010.8,1006.0,7.000000,8.000000,17.8,29.7,0.0,0.2,0